.main.light{
    background-image: url(/src/assets/bacLight.jpg);
    background-repeat: repeat;
}

.main.dark{
    background-image: url(/src/assets/bacDark.svg);
    background-repeat: repeat;
}

.nav-link{
    cursor: pointer;
}

.card_img {
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-text {
    font-size: 12px;
}

.artical_description {
    font-size: 0.9rem;
}

.scroller {
    height: 7rem;
    overflow-y: scroll;
}
